:root {

}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}

h1 {
    font-size: 2rem;
}

.container {
    margin: 0 auto;
}

header {

}

.game {

}

footer {

}