@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    height: 100vh;
}

h1 {
    font-size: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100%;
}

header {

}

.game-area {

}

.start-menu {
    display: none;
}

.game-board {
    border:4px solid #999;
    font-size: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.board-space {
    border: 1px solid #999;
    width: 5rem;
    height: 5rem;
    display: grid;
    justify-items: center;
    align-items: center;
    user-select: none;
}

footer {
    margin-top: auto;
}